<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ADServer" value="upc.edu.pe"/>
    <add key="ADPath" value="LDAP://10.10.1.4/DC=upc,DC=edu,DC=pe"/>
    <!--matriculadesi-->
    <add key="ADAdminUser" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7+v/iRzVxEyEyqCR3PtMWwQAAAACAAAAAAAQZgAAAAEAACAAAADriyUcBzmKzLJLX1Xsfc9TANh8aeGrxCTMtto5EyRDqAAAAAAOgAAAAAIAACAAAAAYYmFyEkwYkMOQTsOR48l/zYXg5ifAQW566NjUgUzK0BAAAAB/CbriueRDq/NazUO54xJzQAAAAIZTzMUjzpBlq//FXeqQeNKo6A8zLG/58TCJNZUYNCnOnGpkKPG4mhrwVWvyfslF7Y5ntP3ZYNGBmOfNU+V1RvM="/>
    <add key="ADAdminPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7+v/iRzVxEyEyqCR3PtMWwQAAAACAAAAAAAQZgAAAAEAACAAAACRb8IKicuIIeOh3LBivmeKK+SDMOR55Urx6D7StUVdbQAAAAAOgAAAAAIAACAAAABsVjm651lmJVWJ1wx2WvuwiYAuT/akLBpjUFMVnaRZXBAAAAACJ1IAN7ua2Rw2al2nZTonQAAAAGFQHeg4edT0sApKPZ/bBN7Q2k++akFoQ7W7VTCZmJfHTILNrjPQMm3nDt0dl8iFxG7YBDxvf1sNHGz5NS160Yw="/>


    <add key="Prod" value="1"/>
    <!--0=Prod,1=Test-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="OracleCnx" connectionString="Data source=DESE2.WORLD;User id=GENERAL;password=s1mps0n"/>
  </connectionStrings>
  <system.serviceModel>

    <services>
      <service name="UPCMobile.Impl.UPCMobileImp" >
        <endpoint address="" binding="webHttpBinding" contract="UPCMobile.SC.IUPCMobile" />

      </service>
    </services>
    <!--<services>
      <service name="IM.RestWCF.NotaImpl" behaviorConfiguration="MyServiceBehavior" >
        <endpoint address="" binding="wsHttpBinding"
            bindingConfiguration="" contract="SC.RestWCF.IServNota" />
      </service>
    </services>-->
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="ComportamientoWCF2">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        -->
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>