<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ADServer" value="upc.edu.pe"/>
		<add key="ADPath" value="LDAP://10.10.1.10/DC=upc,DC=edu,DC=pe"/>
		<!--localhost-->
		<add key="ADAdminUser" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAY742tpE9ZUidw3qAdQy9kwQAAAACAAAAAAADZgAAwAAAABAAAAAXfiRqwJnW8L4rEoc8WFaEAAAAAASAAACgAAAAEAAAAH/Ml3223bZZCFVkwRfOaEsQAAAAR/JFihgoHZWB/1GN3B0sGxQAAAA/Sg/9RW8XEXJkiXAxMeUfgABI1A=="/>
		<add key="ADAdminPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAY742tpE9ZUidw3qAdQy9kwQAAAACAAAAAAADZgAAwAAAABAAAAAWNCpB+xcliVVPZu1eROtxAAAAAASAAACgAAAAEAAAAFa54Jiu1dxhH6ymdWve/N8QAAAAAiIev8DVU2gnk6/NJjVL/hQAAABnQSfMw6bqkwpwjxWjmWgxWGOzpw=="/>
		<add key="Prod" value="0"/>
		<!--0=Prod,1=Test-->
		<add key="RUTA_SERVER" value="https://intranet.upc.edu.pe/programas/"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="10240" executionTimeout="36000"/>
	</system.web>
	<connectionStrings>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="UPCMobile.Impl.UPCMobileImp">
				<endpoint address="" binding="webHttpBinding" contract="UPCMobile.SC.IUPCMobile"/>
				<!--<endpoint address="" binding="webHttpBinding" contract="UPCCInfo.SC.IUPCCinfo"/>-->
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BHRest">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<security>
			<requestFiltering>
				<fileExtensions>
					<remove fileExtension=".config"/>
				</fileExtensions>
				<hiddenSegments>
					<remove segment="bin"/>
					<remove segment="web.config"/>
					<add segment="bin"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
