<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>

  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="UPCCInfo.Impl.UPCCinfoImp"  behaviorConfiguration="BHRest">
        <!--<endpoint address="" binding="webHttpBinding" contract="UPCCInfo.SC.IUPCCinfo" bindingConfiguration="webHttpBind" />-->
        <endpoint address="" binding="webHttpBinding" contract="UPCCInfo.SC.IUPCCinfo"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBind">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BHRest">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="access-control-allow-headers" value="content-type"/>
        <!--<add name="Access-Control-Allow-Headers" value="X-Requested-With"/>-->
        <add name="Access-Control-Allow-Methods" value="POST, GET, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>